@model IEnumerable<HosteliteData>
@foreach (HosteliteData hd in Model)
                  {

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>
                <li class="nav-item">
                  <a class="nav-link " asp-controller="HosteliteData" asp-action="Edit" asp-route-id="@hd.Id" >Edit Profile</a>
                </li>
              </ul>
              <div class="tab-content pt-2">
                  
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">@hd.Name</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Room Number</div>
                    <div class="col-lg-9 col-md-8">@hd.RoomNumber</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email Address</div>
                    <div class="col-lg-9 col-md-8">@hd.User.Email</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">@hd.User.PhoneNumber</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Department</div>
                    <div class="col-lg-9 col-md-8">@hd.Department</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">City</div>
                    <div class="col-lg-9 col-md-8">@hd.City</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Created at Time</div>
                    <div class="col-lg-9 col-md-8">@hd.CreatedDateTime</div>
                  </div>
                  
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">


                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>

        }